.mainbackground {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(61,111,75,0.7), rgba(61,111,75,0.7)), image-url("nader_background.jpg");
  background-position: 38% 0%;
  background-size: cover;
  position: fixed;
  z-index: -2;
}

.typewriter{
  height: 90vh;
  padding-top: 40vh;
  width: 100%;

  h1 {
    color: $lightgreen;
    font-family: "Roboto", sans-serif;
    font-size:28px;
    font-weight: bolder;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation:
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
  }
}

.centerpage {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  h1 {
    font-size:30px;
    color: $lightgreen;
    font-family: "Roboto", sans-serif;
  }
}



/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.menupopup {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(61,111,75,0.92), rgba(61,111,75,0.92)), image-url("images/nader_background.jpg");
  background-position: 38% 0%;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  z-index: 3;
}

.menucenter {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content:center;
}
.menucontent {
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify: space-around;
  a {
    color: $beige;
    &:hover {
      text-decoration: none;
      color: $beige;
    }
  }
}

.menuoption {
  border-bottom: 1px solid $beige;
  transition: .3s ease;
  &:hover {
    border-bottom: 6px solid $beige;
  }
}


.hidden {
  display: none;
}

.howitworks {
  margin-top: 40vh;
  width: 100%;
  background-color: $darkgreen;

  .subheaders {
    font-family:'Roboto', sans-serif;
    color: $darkgreen;
    background-color: $lightgreen;
    padding: 5px 20px;
    text-align: center;
    letter-spacing: 5px;
    margin: 30px 0;
  }
  li {
    color: $lightgreen;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: lighter;
    letter-spacing: 2px;
  }

  h1,h2,h3,h4,h5,h6 {
    color: $lightgreen;
    letter-spacing: 2px;
  }
  h3 {
    margin-top: 0;
  }
}
.stepnumber {
  display: inline-block;
  font-size: 120px;
  color: $darkgreen;
  letter-spacing: 10px;
  margin-bottom: 0px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: $lightgreen;
}

.step2title {
  float: center;
  margin: 50px;
}
.step3title {
  float: left;
}
.step5title {
  float: center;
  margin: 50px;
}

.subtext {
  color: $lightgreen;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: lighter;
    letter-spacing: 2px;
  a {
    text-decoration: none;
    color: $lightgreen;
    &:hover {
      text-decoration: line-through;
    }
  }
}

.step {
  margin-top: 50px;
}

.calltoactionhome {
  color: $darkgreen;
  font-size: 40px;
  transition: .4s;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $lightgreen;
  &:hover {
    text-decoration: line-through;
    text-decoration-style: solid;
  }
}
