<%= @user.first_name %>

<h2>Your Tickets</h2>
<% @tickets.each do |ticket| %>
  <%= link_to ticket_path(@ticket) %>
    <h3>@ticket.id</h3>
    <p>@ticket.status</p>
  <h2>Your Responses</h2>
  <% @ticket.responses.each do |response| %>
      <li>response.content</li>


