<div class="container">
  <div class="row">
    <% @tickets.each do |ticket| %>
      <div class="col-xs-12 col-md-6">
        <div class="ticketcard">
          <%= "TICKET # #{ticket.id}" %>
          <p><%= ticket.address %></p>

          <div class="filterdiv">
            <% if ticket.tune_up == true %>
              <span class="filter-tag">Tune-Up</span>
            <% end %>
            <% if ticket.brakes == true %>
              <span class="filter-tag">Brakes</span>
            <% end %>
            <% if ticket.flat_tire == true %>
              <span class="filter-tag">Flat Tire</span>
            <% end %>
            <% if ticket.chain == true %>
             <span class="filter-tag">Chain</span>
            <% end %>
            <% if ticket.gears == true %>
             <span class="filter-tag">Gears</span>
            <% end %>
            <% if ticket.wheels == true %>
              <span class="filter-tag">Wheels</span>
            <% end %>
            <% if ticket.frame == true %>
              <span class="filter-tag">Frame</span>
            <% end %>
          </div>


          <%= ticket.status %>

          <%= link_to "VIEW INFO", details_path(ticket) %>

        </div>
      </div>
    <% end %>

  </div>
</div>
