.derailsfooter {
  width: 100%;
  height: 120px;
  background-color: $darkgreen;
  color: $lightgreen;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    letter-spacing: 4px;
    font-size: 18px;
    color: $lightgreen;
    font-weight: lighter;
  }
  #logoinsta {
    font-size: 25px;
    color: $lightgreen;
  }
}
