.navbar-derails {
  width: 100%;
  height: 100px;
  position: fixed;
  font-size: 40px;
  color: $lightgreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  z-index: 5;
  transition: .4s ease;
}


.logo {
  width: 200px;
}

.burger {
  height: 100px;
}
