.ticketcard {
  background: $lightgreen;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  a {
    color: $beige;
  }
  a:hover {
    color: $darkgreen;
}
  .filterdiv {
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .filter-tag {
    display: inline-block;
    height: 30px;
    width: 80px;
    background-color: $darkgreen;
    color: $lightgreen;
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px;
  }
}


.ticket-title {
  font-size: 24px;
  font-weight: bold;
}
